.contact-container{
  width: 75%;
  height: auto;
  margin: 100px auto;
  text-align: center;
}

.contact-message{
  margin: 50px;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 1.8em;
}

.contact-form{
  letter-spacing: 0.2em;
  line-height: 3em;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.contact-form span{
  color: red;
}

#name,#e-mail,#contact{
  border: 1px solid black;
  border-radius: 10px;
}

#name,#e-mail{
  width: 100%;
  height: 40px;
}

#contact{
  width: 100%;
  height: 300px;
}

label{
  font-size: 20px;
  line-height: 1.8em;
  letter-spacing: 0.2em;
}

#submit{
  border: 1px solid black;
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 20px;
  letter-spacing: 0.5em;
  width: 300px;
  font-size: 25px;
}

.thanks-messages{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
}

.done-message{
  margin-bottom: 100px;
}

@media(max-width: 600px){

  .contact-container{
    width: 100%;
    height: auto;
    margin-top: 20%;
  }

  .contact-message{
    font-size: 0.7rem;
    width: 90%;
    margin: 10% auto 0;
    text-align: left;
  }

  .contact-form{
    width: 95%;
    margin: 15% auto 0;
  }

}