body{
  font-family:"筑紫A丸ゴシック";
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

h1{
  font-size: 60px;
  color: rgb(0, 0, 173);

}

.show{
  opacity: 0;
}

.fadeInDown{
  animation-name: fadeInDown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;         
  }
  100% {
  opacity: 1;
  transform: translateY(-50px);
  }
}


/*menu*/
.top-menu-wrapper{
  display: none
}

.menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(204, 241, 255);
}

.menu-header{
  display: flex;
  height: 100px;
  width: calc(100% - 100px);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.menu-logo{
  height: 100px;
  margin-left: calc(50% - 88px);
}

.menu-logo img{
  height: 100px;
  width: auto;
}

.close-btn{
  position: relative;
  margin: 10px 0 0 0;
}

.close-btn img{
  height: 35px;
  
}

.close-btn img:hover{
  cursor: pointer;
  height: 40px;
  transition: 0.2s;
}


nav{
  color: rgb(24, 46, 145);
  letter-spacing: 0.2em;
  line-height: 1.8em;
  padding: 100px 0 0 100px;
  font-size: 70px;
  position: absolute;
}

nav li :hover{
  color: rgb(123, 147, 255);
  transition: 0.3s;
}

/*menu*/

/*header*/



header{
  height: 100px;
  width: 100%;
}

.header-container{
  height: 100px;
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  
}

.header-restaurant a{
  margin-left: 700px;
  background-color: red;
  color: white;
  padding: 20px 15px;
  border-radius: 20px;
}

.header-restaurant :hover{
  background-color: rgb(255, 0, 0,0.7);
}

.header-menu{
  margin:-33px 0 0 55px;
  position: relative;
}

.header-menu :hover{
  height: 40px;
  width: auto;
  transition: 0.2s;
  cursor: pointer;

}

.header-menu img{
  position: fixed;
  height: 35px;
  width: auto;
}

/*header*/

/*top-image*/

.top-image{
  width: 100%;
  text-align: center;

}
.top-image img{
  width: 95%;
  height: auto;
  border-radius: 30px;
}

/*top-image*/

/*news*/

.news-container {
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;

}

.news-heading {
  text-align: center;
}

.news-contents{
  display: flex;
  justify-content: space-between;
  margin: 100px 0 50px 0;
}

.news{
  width: 20%;
  text-align: center;
  cursor: pointer;
}

.news-image {
  position: relative;
  width: 210px;
  height: 150px;
  border: 5px solid black;
  border-radius: 30px;
  margin: 0 auto;
  overflow: hidden;
}

.news-image img{
  width: 100%;
  height: 100%;
  transition: 0.5s;

}

.news:hover .news-image img{
  transform: scale(1.1);
  transition: 0.5s;
}


.news-category{
  margin: 20px auto;
  letter-spacing: 0.2em;
}

.news-category h3{
  width: 80px;
  font-size: 13px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 2px solid black;
}

.news-content{
  width: 95%;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}

.news-list-move{
  font-size: 35px;
  float: right;
}

.news-list-move a{
  color: black;
}

.news-list-move :hover{
  cursor: pointer;
  color: rgb(0, 0, 0,0.6);
  transition: 0.3s;
}

/*news*/

/*about*/

.about-container{
  width: 100%;
  height: auto;
  margin-top: 200px;

}

.about-image {
  width: 100%;
}

.about-image img{
  width:95%;
  height: 600px;
  border-radius: 30px;
}

.about-discription{
  width: 31%;
  margin: 150px auto 0;
  text-align: center;
}

.about-heading{
  margin-bottom: 70px;
}

.about-title{
  margin-bottom: 50px;
  font-size: 1.1em;
}

.about-content{
  letter-spacing: 0.2em;
  line-height: 1.8em;
}

/*about*/

/*work*/

.work-container{
  width: 100%;
  height: auto;
  padding: 100px 0 200px;

}

.work-image{
  text-align: right;
}

.work-image img{
  width: 95%;
  height: 600px;
  border-radius: 30px;
}

.work-heading {
  text-align: center;
  margin-top: 200px;
}

.work-title{
  text-align: center;
  margin: 70px 0 50px;
  font-size:20px;
}

.commitments{
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.commitment{
  width: 30%;
  text-align: center;
}

.commitment-circle{
  border: 2px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 0 auto 30px;
}

.commitment-heading{
  margin-bottom: 30px;
  font-size: 18px;
}

.commitment-content{
  width: 80%;
  margin: 0 auto;
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

.work-list-move{
  margin: 30px 250px 0 0;
  font-size: 35px;
  float: right;
}

.work-list-move a{
  color: black;
}

.work-list-move :hover{
  cursor: pointer;
  color: rgb(0, 0, 0,0.6);
  transition: 0.3s;
}

/*work*/

/*shop-infomation*/

.shop-infomation-container{
  width: 65%;
  margin: 50px  auto;
  height: auto;
}

.shop-infomation-heading{
  text-align: center;

}

.shop-overview{
  margin-top: 100px;
  line-height: 2em;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: space-between;
}


.shop-map iframe{
  height: 300px;
  width: 500px;
  border-radius: 30px;
  border:1px solid black;
}

/*shop-infomation*/

/*animation-image*/

.fish-imagess{
  width: 100vw;
  height: 500px;
  display: flex;
  overflow: hidden;

}
.fish-images{
  display: flex;

}

.fish-images img{
  width: 400px;
  height: 400px;
}

.fish-images img:first-child{
  animation: slide1 15s -2s linear infinite;
}

.fish-images img:last-child{
  animation: slide2 15s  linear infinite;
}


@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);/*枚数分？*/
  }
}

/*infomation*/

.infomation-container{
  width: 100%;
  height: 400px;
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container{
  background-color: rgb(228, 228, 228);
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact{
text-align: center;
line-height: 6em;
letter-spacing: 0.2em;
}

.contact-discription{
  font-size: 25px;
}


.contact-btn a{
background-color: red;  
border-radius: 30px;
font-size: 20px;
color:white;
padding: 20px;
}

.contact-btn a:hover{
  background-color: red;  
  opacity: 0.5;

}

.sns-container{
  background-color: rgb(151, 151, 151);
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sns{
text-align: center;
line-height: 6em;
letter-spacing: 0.2em;
}

.sns-discription{
  font-size: 25px;
}



.instagram-btn img{  
  height: 60px;
  width: auto;
  margin-bottom: -24px ;
}

.instagram-btn:hover{
  opacity: 0.5;
}

/*infomation*/

/*footer*/

.footer-container{
  width: 100%;
  height: auto;
  text-align: center;
}

.footer-logo img{
  width: 250px;
  height: auto;
}

.footer-nav ul{
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-nav li:hover{
  opacity: 0.5;
}


.copyright{
  margin: 50px;
}