/*common*/


.news-date{
  margin: 10px 0;
  letter-spacing: 0.2em;
  line-height: 1.8em;

}

.news-info{
  height: auto;
  letter-spacing: 0.2em;
  line-height: 1.8em;

}


.news-heading {
  text-align: center;
  margin: 150px 0  100px;
}



/*common*/

/*single*/

.news-single{
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.news-single-contents{
  width: 90%;
  margin: 150px auto 0;
  border: 1px solid black;
  text-align: center;

}


/*single*/

/*content*/

.news-container{
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.news-genre{
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
  
}

.news-category h3{
  width: 80px;
  font-size: 13px;
  margin: 15px auto 15px;
  border: 2px solid black;
  
}

.news-image {
  position: relative;
  width: 210px;
  height: 150px;
  border: 5px solid black;
  border-radius: 30px;
  margin: 0 auto;
  overflow: hidden;
}

.news-image img{
  width: 100%;
  height: 100%;
  transition: 0.5s;
  
}

.news:hover .news-image img{
  transform: scale(1.1);
  transition: 0.5s;
}



.news-contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto 150px; 
}

.cat-item-5{
  display: flex;
  border-bottom: 5px solid black;
  width: 95%;
  justify-content: space-between;
  margin: 50px auto;
  padding:30px 100px 20px;
}

.cat-item-5 a:hover{
  opacity: 0.4;
  transition: 0.5s;

}


ul.children {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.children li:hover{ 
  opacity: 0.4;
  transition: 0.5s;
}


/*content*/

/*top*/

.page-move{
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 30px;
  margin-top:90px;
}

.news{
  width: 21%;
  margin-bottom: 40px;
}


/*top*/

/*
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 100px;
grid-template-rows: 300px 300px 300px ;
border: 1px solid black;
*/
