.restaurant-main-images{
  width: 95%;
  height: 95vh;
  margin: 0 auto;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.restaurant-main-heading{
  position: absolute;
  z-index: 50;
  text-align: center;
  color: black;
  left: 500px;
  line-height: 90vh;
}


.restaurant-main-image-1{
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  z-index: 40;
  animation: fadeout 16s infinite, zoom 16s infinite;
  overflow: hidden;
}

.restaurant-main-image-2{
  width: 100%;
  height:100vh;
  position: absolute;
  opacity: 0;
  z-index: 30;  
  animation: fadeout 16s 4s infinite,zoom 16s 4s infinite;
}

.restaurant-main-image-3{
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  z-index: 20;
  animation: fadeout 16s 8s infinite,zoom 16s 8s infinite;
  
}

.restaurant-main-image-4{
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  z-index: 10;
  animation: fadeout 16s 12s infinite,zoom 16s 12s infinite;
}

  @keyframes fadeout{
    0%{
      opacity: 0;
    }
    7%{
      opacity: 0.5;
    }
    23%{
      opacity: 0.5;
    }
    30%{
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }

  @keyframes zoom{
    100%{
      transform:scale(1.2);
      transition: 0.5s;
    }
  }


.restaurant-message-container{
  width: 55%;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
}



.message-heading h1{
  font-size: 45px;
  text-align: center;
  line-height: 2em;
}

.restaurant-message{
  margin: 70px auto;
  width: 80%;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-size: 20px;
}

.contact-btn{
  margin: 0 auto;
  width: 80%;
  font-size: 30px;
  text-align: right;
}

.contact-btn:hover{
  opacity: 0.4;
  transition: 0.3s;
}

.call-out-container{
  margin: 0 auto;
  margin-top: 300px;
  width: 60%;
  text-align: center;
}

.call-out-heading h1{
  font-size: 70px;
  line-height: 2em;

}

.call-out-image{
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

.call-out-image img{
  border: 1px solid black;
  border-radius: 30px;
  width: 90%;
  height: auto;
}

.current-status{
  width: 55%;
  height: auto;
  margin: 0 auto; 
  text-align: center;
}

.status{
  margin-top: 150px;
}

.current-status-heading h1{
  font-size: 43px;
  margin-bottom: 70px;
}

.current-status-message{
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 2em;
  text-align: left;
  margin-bottom: 50px;
}

.street-market-contacts{
  width: 80%;
  border: 3px solid black;
  border-radius: 30px;
  margin: 70px auto 150px;
  padding: 30px 0;
}

.street-market-various{
  width: 75%;
  display: flex;
  margin: 30px auto;
  text-align: left;
  font-size: 18px;
}

.street-market-contact{
  line-height: 80px;
}

.street-market-infomation-2{
  line-height: 80px;
}

.yazirusi-2{
  line-height: 80px;
}

.street-market-various a:hover{
  opacity: 0.4;
  transition: 0.3s;
}

/*--モバイル版--*/

@media (max-width: 600px){

  .restaurant-main-heading {
    line-height: 13rem;
    margin: 0 auto;
    width: 100%;
    height: 0%;
    position: static;
    opacity: 1;
  }
  

  .restaurant-main-images{
    width: 100%;
    height: 13.5rem;
    border-radius: 0% 0%;
  }

  .restaurant-main-images img{
    width: 100%;
    height: auto;
  }

  .restaurant-message-container{
    width: 100%;
    height: auto;
    margin: 15% 0 0 ;
  }
  
  .message-heading{
    width: 95%;
    margin: 0 auto;
  }
  
  .message-heading h1{
    font-size: 1.5rem;
  }
  
  .restaurant-message{
    width: 90%;
    margin: 10% auto 0;
    font-size: 0.9rem;
  }
  
  .contact-btn{
    width: 75%;
    font-size: 1.1rem;
    margin: 10% 0 0 25%;
  }

  .call-out-container{
    width: 100%;
    height: auto;
    margin: 15% 0 0;
  }

  .call-out-heading{
    width: 95%;
  }

  .call-out-heading h1{
    font-size: 1.8rem;
  }

  .call-out-image {
    width: 100%;
    height: auto;
    margin: 10% auto 0;
  }

  .call-out-image img{
    width: 100%;
    height: auto;
    border-radius: 0%;
  }

  .current-status{
    width: 100%;
    height: auto;
    margin: 0;
  }

  .status{
    margin: 0 auto;
  }

  .current-status-heading{
    width: 95%;
    height: auto;
    text-align: center;
    margin: 15% auto 0;
  }
  
  .current-status-heading h1{
    font-size: 1.7rem;
    line-height: 3rem;
    margin: 0 auto 0
  }

  .current-status-message{
    width: 90%;
    height: auto;
    font-size: 0.9rem;
    margin: 10% auto 0;
  }

  .street-market-contacts{
    margin: 15% auto 0;
    padding: 0;
  }

  .street-market-contacts h3{
    font-size: 1rem;
    margin: 10% auto 0;
  }

  .street-market-various{
    font-size: 0.8rem;
    width: 95%;
    align-items: center;
  }

  .street-market-name{
    width: 30%;
    height: auto;
    display: inline-block;

  }

  .yazirusi-1{
    display: flex;
    align-items: center;
  }

  .yazirusi-2{
    display: flex;
    align-items: center;
  }

  .street-market-infomation-2{
    line-height: 0.9rem;
    display: flex;
    align-items: center;
  }

}