body{
  font-family:"筑紫A丸ゴシック";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 2em;

}

a {
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

h1{
  font-size: 60px;
  color: rgb(0, 0, 173);

}

/*menu*/
.top-menu-wrapper{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(204, 241, 255);
  z-index: 100;
}

.menu-header{
  display: flex;
  height: 100px;
  width: calc(100% - 100px);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.menu-logo{
  height: 100px;
  margin-left: calc(50% - 101px);
}

.menu-logo img{
  height: auto;
  width: 170px;
}

.close-btn{
  position: relative;
  margin: 10px 0 0 0;
}

.close-btn img{
  height: 35px;
  
}

.close-btn img:hover{
  cursor: pointer;
  height: 40px;
  transition: 0.2s;
}


nav{
  color: rgb(24, 46, 145);
  letter-spacing: 0.2em;
  line-height: 1.8em;
  padding: 50px 0 0 100px;
  font-size: 70px;
  position: absolute;
}

nav li :hover{
  color: rgb(123, 147, 255);
  transition: 0.3s;
}

/*menu*/

/*header*/


header{
  height: 100px;
  width: 100%;
}

.header-container{
  height: 100px;
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  align-items: center;

}

.header-logo{
  position: absolute;
  text-align: center;
  left: 43%;
  margin-top: 10px;
}

.header-logo img{
  width: 170px;
  height: auto;
}

.header-restaurant a{
  background-color: red;
  color: white;
  padding: 20px 15px;
  border-radius: 20px;
  margin-left: 680px;

}

.header-restaurant :hover{
  background-color: rgb(255, 0, 0,0.7);
}

.header-menu{
  margin:-35px 0 0 23px;
  position: relative;

}

.header-menu :hover{
  height: 40px;
  width: auto;
  transition: 0.2s;
  cursor: pointer;

}

.header-menu img{
  position: fixed;
  height: 35px;
  width: auto;
}

/*header*/

/*work-discription*/


.work-main-movie{
  width: 100%;
  text-align: center;
}

.work-main-movie img{
  border: 1px solid black;
  border-radius: 30px;
  width: 90%;
  height: auto;
  border-radius: 30px;
}

.work-container{
  margin-top: 200px;
  width: 100%;
}

.work-heading{
  text-align: center;
}


.work-title{
  text-align: center;
  margin: 150px 0 70px;
  font-size:20px;
}

.commitments{
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.commitment{
  width: 30%;
  text-align: center;
}

.commitment-circle{
  border: 2px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 0 auto 30px;
}

.commitment-heading{
  margin-bottom: 30px;
  font-size: 18px;
}

.commitment-content{
  width: 80%;
  margin: 0 auto;
}

/*work-discriptiton*/

/*shop-infomation*/

.shop-list{
  width: 65%;
  margin: 0 auto;
  margin-top: 300px;
}

.shop-list-heading{
text-align: center;
}

.main-shop{
  margin-top: 200px;
}

.shop-info{
  width: 400px;

}


.shop-overview{
  margin-top: 100px;
  line-height: 2em;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: space-between;
}

.main-shop-image{
  margin: 35px 0;

}
.main-shop-image img{
  height: 300px;
  width: 500px;
  border-radius: 30px;
  border:1px solid black;
}

.street-markets{
  line-height: 2em;
  letter-spacing: 0.1em;
  margin-top: 200px;
  width: 100%;
  height: auto;
}

.street-market-1{
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;

}

.street-market-2{
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 150px;

}

.street-market-overview{
  width: 400px;

}

.opening-info{
  margin:20px 0;
}

.street-market-image img{
  border: 1px solid black;
  border-radius: 30px;
  width: 450px;
  height: 300px;
}

.street-market-map img{
  margin-top: 100px;
  width: 1000px;
  height: auto;
  margin-bottom: 150px;
}
/*shop-infomation*/


/*footer*/


.footer-container{
  width: 100%;
  height: auto;
  text-align: center;
}

.footer-logo img{
  width: 250px;
  height: auto;
}

.footer-nav ul{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-nav a:hover{
  opacity: 0.5;
  transition: 0.3s;
}

.copyright{
  margin: 50px;
}
