body{
  font-family:"筑紫A丸ゴシック";
  font-weight: bold;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

h1{
  font-size: 60px;
  color: rgb(0, 0, 173);

}

/*menu*/
.top-menu-wrapper{
  display: none;
}

.menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(190, 226, 255);
}

.menu-logo{
  height: 100px;
  width: 100%;
  text-align: center;
  position: absolute;

}

.menu-logo img{
  height: 100px;
  width: auto;
}

.fa {
  height: 20px;
  width: auto;
  padding: 15px 25px;
  float: right;
  cursor: pointer;
}

.fa :hover{
  color: lightgrey;
}

nav{
  color: rgb(24, 46, 145);
  letter-spacing: 0.2em;
  line-height: 1.6em;
  padding: 130px;
  font-size: 90px;
}

nav li :hover{
  color: rgb(123, 147, 255);
  transition: 0.3s;
}

/*menu*/

/*header*/


header{
  height: 100px;
  width: 100%;
}

.header-container{
  height: 100px;
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  align-items: center;

}

.header-restaurant a{
  margin-left: 760px;
  background-color: red;
  color: white;
  padding: 20px 15px;
  border-radius: 20px;
}

.header-restaurant :hover{
  background-color: rgb(255, 0, 0,0.7);
}

.header-menu{
  margin:8px 0 0 90px;
}

.header-menu :hover{
  height: 40px;
  width: auto;
  transition: 0.2s;
  cursor: pointer;

}

.header-menu img{
  height: 35px;
  width: auto;
}

/*header*/

/*top-image*/

.top-image{
  width: 100%;
  text-align: center;

}
.top-image img{
  width: 95%;
  height: auto;
  border-radius: 30px;
}

/*top-image*/

/*news*/

.news-container{
  height: 650px;
  width: 80%;
  margin: 300px auto;
}

.news-heading {
  text-align: center;
}

.news-contents{
  display: flex;
  justify-content: space-between;
  margin: 100px 0 50px 0;
}

.news{
  width: 20%;
  text-align: center;
  cursor: pointer;
}

.news-image {
  border: 1px solid black;
  border-radius: 30px;
}

.news-image img{
  width: 95%;
  height: 150px;
}

.news-date{
  margin: 20px;
  letter-spacing: 0.2em;

}

.news-content{
  width: 95%;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}

.news-list-move{
  font-size: 35px;
  float: right;
}

.news-list-move a{
  color: black;
}

.news-list-move :hover{
  cursor: pointer;
  color: rgb(0, 0, 0,0.6);
  transition: 0.3s;

}